* {
  font-family: Montserrat;
}

li {
  list-style: none;
}

.navbar-btn{
  color:#94D6C5;
}

.navbar-btn:hover{
  color:white;
  background-color: #94D6C5;
}


#section_1 {
  margin-bottom: -30px;
  min-height: 200px;
}
#section_2 {
  background-color:#00DBD0;
}

h1 {
  color:#0C444B;
  font-size:3rem;
  font-weight:200;
}

h2 {
  color:#0C444B;
  font-weight:700;
  font-size:1.7rem;
}

.subtitle {
  font-size:1rem;
}

input{
  height:3rem;
}

.vs {
  color:#00DBD0;
  font-size:2rem;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

p {
  color:white;
}

.wheel {
  height:100%;
  width: 20%;
}

.resultat {
  color:white;
  font-weight:700;
}

.gagnant {
  color:#0C444B;
  font-weight:700;
}

.resultat, .gagnant {
  text-align: center;
  font-size:2rem;
}

@media (min-width: 768px) {
  .wheel {
    width:10%
  }

  h1 {
    font-size:4.5rem;
  }

  h2, .subtitle {
    font-size:2rem;
  }
}
